.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardContainer {
    margin: .6rem;
    width: 18rem;
    /* height: 13rem; */
    border-radius: 0.5rem;
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.cardContainer:hover {
    transform: scale(1.01);
    cursor: pointer;

}
.heading{
    font-family: 'Playfair Display', serif;
    font-size: clamp(8pt, 5.5vw, 18pt);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-weight: 900;
    border-bottom: 0.2rem solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    background: linear-gradient(293deg, #4CAF50, transparent);
    border-top-right-radius: 8px;
}

.subheading{
    font-size: clamp(8pt, 5.5vw, 18pt);
}

.badge{
    background: #4CAF50 no-repeat top left;
    display: inline-block;
    width: clamp(12pt, 5.5vw, 28pt);
    text-align: center;
    /* font-weight: 700; */
    border-radius: .5rem;
    margin-right: 1rem;
}

.imageContainer{
    width: clamp(28pt, 4.5vw, 48pt);
    height: clamp(28pt, 4.5vw, 48pt);
    padding: 2px;
}

.contentText{
    width: calc(100% - 5rem);
    /* height: 5rem; */
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    font-size: clamp(8pt, 5.5vw, 12pt);
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
    color: #025b31;
}
.content{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: clamp(8pt, 2.5vw, 18pt);
    background: linear-gradient(243deg, #51b2547d, transparent);
    box-shadow: 1px -2px 3px 0px #1a1a1a;
}

.cardfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: clamp(8pt, 2.5vw, 12pt);
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
}

.cardsubfooter{
    font-size: clamp(8pt, 2.5vw, 12pt);
}

.btnContainer{
    width: 100%;
    padding: .5rem;
}

:host::ng-deep .p-sidebar .p-sidebar-header {
    /* padding-top: .5rem; */
    /* padding-right: .5rem; */
    padding: .5rem;
}