.verseBadge {
    background: #4cae4f;
    background-size: cover;
    display: inline-block;
    border-radius: 1rem;
    font-size: clamp(.5rem,100vw,1.5rem);
    line-height: 30%;
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 6px;
    border: 1.5px dotted #14da1c;

}
.pageContainer {
    font-size: clamp(1rem,5vw,2.5rem);
    justify-content: center;
    text-align: justify;
    text-align-last: end;
    padding: clamp(1rem,5vw,2.5rem);
}

.verseText:hover {
    background-color: #baeebccf;
    border-radius: 4px;

}