.verseBadge {
    background: #4cae4f;
    background-size: cover;
    display: inline-block;
    border-radius: 40%;
    font-size: clamp(.1rem,5vw,1rem);
    line-height: 30%;
    padding: 4px;
    /* padding-top: 10px;
    padding-bottom: 6px; */
    border: 1.5px dotted #14da1c;

}
.pageContainer {
    font-size: clamp(1rem,5vw,2.5rem);
    justify-content: center;
    text-align: justify;
    text-align-last: start;
    padding: clamp(1rem,5vw,2.5rem);
    border: 4px #3a8e3cbf double;
    margin-left: .2rem;
    margin-right: .2rem;
    background-color: #FDFCF0;
}

.verseText:hover {
    background-color: #baeebccf;
    border-radius: 4px;

}