.container{
    background: url(../../../assets/heading.png);
    background-size: cover;
    font-size: clamp(1.5rem,8vw,5rem);
    text-align: center;
    background-size: 100% 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding-top: .4rem;
    color: #2D409C;
    font-style: italic;
}

.spanText{
    font-size: clamp(5pt,2vw,16pt);
    background-color: #FDFCF0;
}